table {
    width: 100%;
}

.user-form {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    mat-form-field {
        margin-right: 0.5rem;
    }
}

.align-table-item-right {
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
}