.poll-form {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    .title,
    .questions {
        display: flex;

        mat-form-field {
            flex-grow: 2;
        }
    }

    mat-form-field,
    button {
        margin-right: 0.5rem;
    }
}