<div class="forgot-creds">
  <div class="creds">
    <div class="title info-text">
      <button mat-icon-button routerLink="/login">
        <i class="material-icons">arrow_back_ios</i>
      </button>
      <span>{{'LOGIN.forgot_creds' | translate}}</span>
    </div>

    <div *ngIf="!linkSent">
      <div class="step-info subtitle">{{'LOGIN.enter_email_phone' | translate}}</div>
      <div>
        <mat-form-field>
          <input matInput placeholder="{{'COMMON.email' | translate}}" type="email">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="sendLink()">{{'COMMON.submit' | translate}}</button>
      </div>
    </div>

    <div *ngIf="linkSent">
      <div class="step-info subtitle">{{'LOGIN.reset_link' | translate}}</div>
    </div>
  </div>
</div>
