@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Kite+One|Lexend+Exa|Lobster|Nanum+Gothic|Raleway|Roboto|Shrikhand&display=swap');

$font-roboto: 'Roboto', sans-serif; //Many styles
$font-raleway: 'Raleway', sans-serif; //Many styles
$font-nanum: 'Nanum Gothic', sans-serif; // 3 styles (Bolds)
$font-lobster: 'Lobster', cursive;
$font-lexend: 'Lexend Exa', sans-serif;
$font-kite: 'Kite One', sans-serif;
$font-shrikhand: 'Shrikhand', cursive;
$font-fugaz: 'Fugaz One', cursive;